.container {
    background-color: rgb(75, 75, 75);
}

#navbar {
   font-size: 25px;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    margin:15px;
    padding: 5px;
}

h3 {
    font-size: 15px;
    color: white;
    margin:15px;
    padding: 5px;
    font-weight: lighter;
    text-decoration: underline;
}

#citySearch {
    text-align: center;
    margin: 0 auto;
}

#searchInput {
    margin: 10px;
}

#searchButton {
    margin: 10px; 
    background-color: rgb(65, 65, 65);
    color: white;
}

#resultsDisplay {
    text-align: center;
    color: white;
    padding:30px;
    background: rgb(3, 3, 3, .5);
    margin: 0 auto;
    width: 75%;
}

#futureForcast {
    text-align: center;
    margin: 0 auto;
}

#historyDisplay {
    background: rgb(3, 3, 3, .5);
}

.favorable {

    color: green; 
}
  
.moderate {
   
    color: orange;
}
  
.severe {
    
    color: red;  
}